html{
/*background: url(./pics/wallpaper.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}
body{
background: black url("wallpaper.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.head{
    font-family:"serif";
    margin-top:15%;
}
.title{
    width: 100%;
    color: white;
    font-size: 7em;
    text-align: center;
}

#analyze{
    background: white;
    opacity:.75;
    margin-top: 2%;
    margin-left: 48%;
    border-radius: 5px;
}
.drploc{
    width: 100%;
    margin-left: auto !important;
    margin-right: auto !important;
    color: white;
}

.description{
    width: 100%;
    color: white;
    font-size: 1em;
    text-align: center;
    padding-bottom: 2em;
}

.input-group{
    position: fixed ;
    margin-top: 1% ;
    margin-left: 50%;
    width: 60%;
    margin: 0 auto;

}











::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}
